.Image-container-drag {
  width: 50vw;
  height: 80vh;
}
.multiple-icon1 {
  border-radius: 3px;
  font-size: 30px;
  opacity: 0.6;
  align-self: flex-start;
  position: absolute;
  margin-top: 50%;
  color: #ffffff;
}
.multiple-icon2 {
  border-radius: 3px;
  font-size: 30px;
  opacity: 0.6;
  left: 96%;
  position: absolute;
  margin-top: 50%;
  top: auto;
  color: #ffffff;
}
.container-pop {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: row;
  margin: 0px;
}
.imageEdit {
  width: 100%;
  object-fit: contain;
}
.imageEditUploaded {
  width: 100%;
  object-fit: contain;
  position: absolute;
}
.imageEdit1 {
  margin-top: 30px;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  // object-fit: contain;
}
.image-posted {
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  object-fit: contain;
  position: absolute;
}
.commented-post {
  display: flex;
  width: 50%;
  flex-direction: column;
  position: relative;
}
.commented-post1 {
  display: flex;
  width: 100vw;
  flex-direction: column;
  position: relative;
}

.multiple-icon-back {
  font-size: 30px;
  opacity: 0.6;
  left: 96%;
  position: absolute;
  color: #8b1919;
}
