.main-container-forgot {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100vh);
}
.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.names {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.heading {
  text-align: center;
}
.signIn {
  align-self: start;
  padding-left: 10%;
  color: rgb(110, 108, 109);
}
.forget {
  color: rgb(82, 79, 80);
  align-self: end;
  padding-right: 10%;
}
.or {
  color: rgb(110, 109, 110);
  align-self: center;
  align-self: center;
}
.backButton {
  text-decoration: none;
}
.paraForgot {
  font-family: var(--font-family-system);
  padding-left: 10%;
  padding-right: 10%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #637381;
}
