.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.names {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.heading {
  text-align: center;
}
.signIn {
  align-self: start;
  padding-left: 10%;
  color: rgb(110, 108, 109);
}
.signIn :any-link {
  color: rgb(8, 115, 238);
  text-decoration: underline;
}
