.icon-config {
  height: 30px;
  padding-left: 30px;
}
.userNameNav {
  font-family: var(--font-family-system);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  padding-left: 5px;
}
.profilePopper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 220px;
  height: 157px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  background-color: #ffffff;
  border-radius: 12px;
}
.popupNames {
  font-family: var(--font-family-system);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #212b36;
  padding-left: 10px;
}
.popupHr {
  position: absolute;
  height: 1px;
  left: 0px;
  right: 0px;
  top: calc(50% - 1px / 2);

  /* 14 Others/Divider */

  background: rgba(145, 158, 171, 0.24);
}
